*{
    margin: 0;
    font-family: 'Inter';
}
#main{
    background-image: url('./img/bgMAIN.png');

}
#about{
    background-image: url("./img/bgABOUT.png");

}
#skills{
    background-image: url("./img/bgSKILLS.png");

}
#works{
    background-image: url("./img/bgWORKS.png");

}
#comments{
    background-image: url("./img/bgCOMMENTS.png");

}


section{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;

}
.main-block{
    flex-direction: column;
    height: 100vh;
}
.main-block, .about-block, .skills-block, .works-block, .comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.main-content{
    width: 849px;
    height: 223px;
    background-image: url('./img/form1.png');
    padding-left: 30px;
    background-repeat:no-repeat;
    background-size: contain;
}
.main-title{
    color: #2B2D35;
    font-size: 80px;
    padding-top: 67px;
}
.mainsubtitle{
    color: #2B2D35;
    font-size: 20px;
    font-family: 'Comfortaa';
}
.button{
    height: 60px;
    width: 200px;
    border-radius: 100px;
    background-color: #bbff2c;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid  #2B2D35;
    box-shadow: 5px 5px 0 #000000;
    
}
.button a {
    font-size: 20px;
    text-decoration: none;
}